
body {
    background-color: hsl(325, 84%, 80%);
    position:absolute; 
    width: 100%; 
    height: auto;
    font-family: 'Courier New', Courier, monospace;
}

ul {
    font-family:monospace; 
    text-align:left; 
}